<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>
<body>
	<div class="container mt-4">
		<a th:href="@{/new}" class="btn btn-primary">Novo</a>
		<br>
		
		<table class="table">
			<thead>
				<tr>
					<td>ID</td>
					<td>NOMES</td>
					<td>TELEFONE</td>
					<td>OPÇÕES</td>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="pessoa:${pessoas}">
					<td th:text="${pessoa.id}"></td>
					<td th:text="${pessoa.nome}"></td>
					<td th:text="${pessoa.telefone}"></td>
					<td><a class="btn btn-warning">Editar</a> <a
						class="btn btn-danger">Excluir</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>